<div class="container">
    <div class="row g-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px"  src="https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/content9733.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hotel Pathans</h5>
                          <p class="card-text">4.3*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="150px"  src="https://hotelh.in/menu/assets/image1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hotel Aradhana</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px"  src="https://im.whatshot.in/img/2020/Apr/41215842-2062970037054645-8180165235601047552-o-baan-tao-cropped-1586780385.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Majlis</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>
                    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px" src="https://images.deliveryhero.io/image/fd-hk/LH/w9hc-hero.jpg?width=512&height=384&quality=45" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alreem</h5>
                          <p class="card-text">4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px" src="https://images.deliveryhero.io/image/fd-th/LH/t4ct-hero.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Raravies</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px" src="https://assets.vogue.in/photos/61d84b5b9db8964401d2b0e4/16:9/w_4591,h_2582,c_limit/15%20best%20multi-cuisine%20restaurants%20in%20Mumbai,%20New%20Delhi,%20Bengaluru,%20Kolkata%20and%20Goa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hotel Akshaya</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px" src="https://thumbs.dreamstime.com/b/culinary-event-food-background-close-up-catering-buffet-food-hotel-restaurant-fresh-celebration-culinary-event-food-background-171488039.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">kfc</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>

                      
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_264,w_2816,h_1584,r_0,c_crop,q_60,fl_progressive/w_400,f_auto,c_fit/hotel-chalukya-bangalore/Dosa_Hotel_Chalukya_Bangalore_3_lbuyc9" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">ABC</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="150px" src="https://c0.wallpaperflare.com/preview/879/897/293/coffee-food-breakfast-fruit.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Food</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col lg-3 col-xl-3 col-xxl-3">


                    <div class="card">
                        <img height="150px"src="https://assets.vogue.in/photos/61d84b5b9db8964401d2b0e4/16:9/w_4591,h_2582,c_limit/15%20best%20multi-cuisine%20restaurants%20in%20Mumbai,%20New%20Delhi,%20Bengaluru,%20Kolkata%20and%20Goa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">arbic</h5>
                          <p class="card-text">4.4*</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Veg</li>
                          <li class="list-group-item">Non Veg</li>
                    
                        </ul>
                
                      </div>
            </div>


        </div>
    </div>
</div>
